.header__logo {
  box-sizing: content-box;
  margin: 0;
  padding-top: 0;
  min-width: 142px;
  min-height: 33px;
  background-image: url("../../../images/Mesto.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.08);
  margin-bottom: 41px;

  /* border: 1px rgb(235, 14, 14) solid; */
  }

@media screen and (max-width: 700px) {
  .header__logo {
      margin-left: 27px;
      max-width: 103.74px;
      min-height: 24.4px;
      margin-bottom: 31.6px;
    }
  }
