.popup__save {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  min-width: 358px;
  min-height: 50px;
  margin-top: 36px;
}

.popup__save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .popup__save {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    min-height: 46px;
    margin-top: 33px;
    min-width: 238px;
    }
  }

